* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #3d3f40;
	overflow: hidden;
    font-size: 36px;
}

.input-box{
    position: relative;
}

input{
    padding: 1em;
    width: 400px;
    border-radius: 8px;
    border: 2px solid #aaa;
    background: none;
    color: #aaa;
}

label{
    position: absolute;
    top: 32%;
    left: 2%;
    padding: 0 0.5em;
    font-size: 20px;
    transition: transform .3s;
    pointer-events: none;
}

input:focus{
    outline: none;
    border: 2px solid rgb(92,92,251);
}


input:focus ~ label{
    transform: translateY(-90%);
    color: rgb(92,92,251);
    background-color: #3d3f40;
}